#root {
  font-family: 'Open Sans', sans-serif;
}

#root .lead {
  font-family: 'Quicksand', sans-serif;
}

.navbar-fixed-top img {
  margin-top: -10px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a, .settings .modal-title h2 {
  color: #d7a26d;
  /* Ref: http://bradsknutson.com/blog/css-engraved-text/ */
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.navbar-default .navbar-nav > li > a:hover {
  color: #a77e55;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  box-shadow: none;
}

.navbar {
  background: url('./images/navbar-middle.png') repeat-x;
  background-size: contain;
  border: none;
  box-shadow: 0 0 2px 2px #d0a78e;
}

.navbar::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url('./images/navbar-left.png') no-repeat;
  background-size: contain;
  z-index: -1;
}

.navbar::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url('./images/navbar-right.png') no-repeat;
  background-size: contain;
  background-position: right;
  z-index: -1;
}

.navbar .dropdown-menu {
  background-color: #f9eadd;
  border-color: #e2ccbe;
}

.navbar .dropdown-menu > li > a {
  color: #dcb49b;
  text-shadow: -1px -1px 1px #f0d9c9;
}

.navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus {
  color: #9a7d6c;
  background: none;
}

.navbar .dropdown-menu > li:first-child > a {
  color: #ac764d;
  font-weight: bold;
}

.navbar .dropdown-menu > li:first-child > a:hover, .navbar .dropdown-menu > li:first-child > a:focus {
  color: #785235;
}

.navbar .dropdown-menu > li.dropdown-header {
  color: #cebaaf;
  font-size: 14px;
  font-style: italic;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li.dropdown-header {
  border-bottom: 1px solid #f4d8c7;
  padding: 7px 0;
  margin: 0 20px;
}

.navbar .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.choices {
  margin: 0 0 20px 0;
  border: none;
}

.choices .list-group {
  margin: 0 auto;
  padding: 10px 0;
  box-shadow: none;
  background-color: #f2e5db;
  background: url('./images/choice-box.png');
  background-size: cover;
  border: 1px solid #e2dcd9;
  border-radius: 4px;
}

.choices.funnel .list-group {
  margin: 0;
  padding: 0;
}

.choice {
  cursor: pointer;
  outline: 0;
}

.panel.choices > .list-group .list-group-item,
.panel.choices > .list-group:first-child .list-group-item:first-child,
.panel.choices > .list-group:last-child .list-group-item:last-child {
  background-color: transparent;
  border: 1px solid transparent;
  color: #c1a28a;
  margin: 0 20px 1px 20px;
}

.panel.choices > .list-group .list-group-item:hover,
.panel.choices > .list-group .list-group-item:focus,
.panel.choices > .list-group:first-child .list-group-item:first-child:hover,
.panel.choices > .list-group:first-child .list-group-item:first-child:focus,
.panel.choices > .list-group:last-child .list-group-item:last-child:hover,
.panel.choices > .list-group:last-child .list-group-item:last-child:focus {
  background-color: rgba(238, 246, 250, 0.63);
  border-color: rgba(143, 157, 143, 0.49);
  border-radius: 5px;
  /* Ref: https://stackoverflow.com/questions/4772906/css-is-it-possible-to-add-a-black-outline-around-each-character-in-text#answer-4772914 */
  color: #778085;
  text-shadow: 1px 0 0 #c1c8cd, 0 -1px 0 #c1c8cd, 0 1px 0 #c1c8cd, -1px 0 0 #c1c8cd;
}

.panel.choices.funnel > .list-group .list-group-item,
.panel.choices.funnel > .list-group:first-child .list-group-item:first-child,
.panel.choices.funnel > .list-group:last-child .list-group-item:last-child {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.panel.choices > .panel-heading {
  background: linear-gradient(to left, rgba(126, 91, 65, 0.65) 0%, rgba(181, 137, 106, 0.65) 50%, rgba(118, 86, 58, 0.65) 100%);
  background-size: cover;
  color: #8a6148;
  padding: 10px 20px;
  font-weight: bold;
}

.conversation {
  margin-bottom: 10px;
}

.conversation > p {
  margin-bottom: 5px;
}

.navbar-text.comment {
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-text.success {
  color: #3c763d;
}

.navbar-text.warning {
  color: #8a6d3b;
}

.achievement {
  border: 5px solid transparent;
  margin-bottom: 30px;
  text-align: center;
  background: #e3d5c6;
  background: url('./images/achievement.png');
  background-size: cover;
  background-clip: padding-box;
  position: relative;
  border-radius: 60% 60% 5px 5px;
}

/* Ref: https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient#answer-29223812 */
.achievement::after {
  position: absolute;
  top: -5px; bottom: -5px;
  left: -5px; right: -5px;
  background: linear-gradient(to bottom, #cff2f4 0%, #a5b89a 50%, #af9066 100%);
  content: '';
  z-index: -1;
  border-radius: 60% 60% 5px 5px;
}

.achievement-heading {
  font-size: 175%;
  font-weight: bold;
  border-bottom: 1px solid #ae8d5f;
  padding: 20px 5px 10px;
  margin: 0 auto;
  max-width: 500px;
  color: #7b6b54;
}

.achievement-body {
  font-size: 140%;
  padding: 20px 40px;
  color: #82643b;
}

.achievement.disabled {
  opacity: 0.5;
}

.achievement.disabled::after {
  background: none;
}

.achievements-container {
  position: relative;
  z-index: 1;
}

.atoll-map {
  max-width: 720px;
  margin-bottom: 20px;
}

.atoll-map text.text-anchor-left {
  text-anchor: start;
}

.atoll-map text.text-anchor-right {
  text-anchor: end;
}

.atoll-map text.text-anchor-middle {
  text-anchor: middle;
}

.atoll-map .island .shape {
  fill: #e8e8ee;
  fill-opacity: 0;

  stroke: transparent;
}

.atoll-map .island .shape:hover, .atoll-map .island a:focus .shape {
  fill-opacity: 0.2;
}

.atoll-map .island .shape + text {
  visibility: hidden;
  pointer-events:none;
}

.atoll-map .island .shape:hover + text {
  visibility: visible;
}

.atoll-map .island.disabled .crossed {
  stroke: #ff3232;
  stroke-width: 5px;
  pointer-events: none;
}

.atoll-map .island .here {
  text-anchor: middle;
  fill: red;
  font-size: 20px;
}

.atoll-map .island a {
  text-decoration: none;
}

.atoll-map .course {
  stroke: #e59400;
  stroke-dasharray: 5, 10;
  stroke-width: 2;
}

.ending-message > p {
  font-style: italic;
}

.ending-message > ul > li {
  font-style: italic;
}

.ending-message > p:first-child {
  margin-bottom: 15px;
}

.true-end-link a.list-group-item {
  color: #2d2d2d;
  background: linear-gradient(to top, #48d1cc, #6495ed);
}

.true-end-link a.list-group-item:hover {
  background: linear-gradient(to top, #48d1cc, #4169e1);
}

.credits {
  margin-top: 5px;
}

.core hr {
  border-color: #d0d0d0;
}

.core .logs > div {
  display: none;
}

.core .logs > div:nth-last-child(-n+9) {
  display: block;
}

.core .logs > div p {
  opacity: 0.2;
}

.core .logs > div:nth-last-child(7) p {
  opacity: 0.25;
}

.core .logs > div:nth-last-child(6) p {
  opacity: 0.3;
}

.core .logs > div:nth-last-child(5) p {
  opacity: 0.35;
}

.core .logs > div:nth-last-child(5) p {
  opacity: 0.4;
}

.core .logs > div:nth-last-child(4) p {
  opacity: 0.45;
}

.core .logs > div:nth-last-child(3) p {
  opacity: 0.5;
}

.core .logs > div:nth-last-child(2) p {
  opacity: 0.55;
}

.core .logs > div:last-child p {
  opacity: 0.6;
}

img.text-img {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  img.text-img.tall {
    max-width: 50%;
    display: block;
  }

  img.text-img.tall.left {
    margin-right: 20px;
    float: left;
  }

  img.text-img.tall.right {
    margin-left: 20px;
    float: right;
  }
}

.hint-warning {
  cursor: pointer;
}

.hint {
  font-style: italic;
}

.core {
  padding-top: 75px;
}

.core .col-md-8 {
  background-color: white;
}

@media (min-width: 1000px) {
  .core {
    background: linear-gradient(to right,#3BB9FF,white 12%,white 88%,#3BB9FF);
  }
}

@media (min-width: 1200px) {
  .core {
    background: linear-gradient(to right,#3BB9FF,white 15%,white 85%,#3BB9FF);
  }
}

.transition-sentence {
  font-weight: bold;
}

.text-conditional {
  color: #31708f;
}

@media print {
  body {
    text-align: justify;
    font-size: 10pt;
  }

  p {
    page-break-inside: avoid;
  }

  .core {
    padding-top: 0;
  }

  .core .logs > div {
    display: block;
  }

  .core .logs > div p {
    opacity: 1 !important;
  }

  .transition-sentence {
    font-weight: normal;
  }

  .text-conditional {
    color: #333;
  }

  .next {
    display: none;
  }

  img.text-img {
    page-break-inside: avoid;
    margin-left: auto;
    margin-right: auto;
    max-height: 120mm;
  }

  h1 {
    font-size: 16pt;
  }

  .inventory-change {
    display: none;
  }
}

.cover {
  margin-bottom: 20px;
}

#Gallery {
  margin-bottom: 20px;
}

.header_1tk9zku {
  display: none !important;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.inventory-change-container {
  display: flex;
  justify-content: center;
}

.inventory-change {
  position: relative;
  border: 2px solid #c4313e;
  border-radius: 5px;
  padding: 20px 15px;
  background: linear-gradient(to right, #f8674e, #ff3e3f);
  color: white;
}

.inventory-change::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: url('./images/inventory-change-background.png') no-repeat;
  background-size: contain;
  background-position: top right 10px;
  pointer-events: none;
}

.inventory-change .item-name {
  font-weight: bold;
}

.settings .modal-body {
  padding: 0;
  background-color: #fbece1;
  border: 2px solid #d3c1b5;
  border-top-style: none;
  border-radius: 0 0 5px 5px;
}

.settings .modal-body form {
  padding: 15px;
  color: #cfa07c;
}

.settings form #fontSizeOption {
  color: #cfa07c;
  padding-right: 12px;
}

.settings form .has-error #fontSizeOption {
  padding-right: 30px;
}

.settings .modal-title {
  background: url('./images/navbar-middle.png') repeat-x;
  background-size: contain;
  box-shadow: 0 0 2px 2px #f1d3be;
  position: relative;
}

.settings .modal-title h2 {
  text-align: center;
  color: #dda06c;
  font-size: 25px;
  padding: 10px 0 5px 0;
  margin: 0;
  z-index: 10;
  position: relative;
}

.settings .modal-title::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url('./images/navbar-left.png') no-repeat;
  background-size: contain;
}

.settings .modal-title::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url('./images/navbar-right.png') no-repeat;
  background-size: contain;
  background-position: right;
}
