.navbar-fixed-top img {
  margin-top: -10px;
}

.choice, .funnel {
  cursor: pointer;
}

.conversation {
  margin-bottom: 10px;
}

.conversation > p {
  margin-bottom: 5px;
}

.navbar-text.comment {
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-text.success {
  color: #3c763d;
}

.navbar-text.warning {
  color: #8a6d3b;
}

.achievements-screen .panel.disabled {
  opacity: 0.5;
}

#atoll-map {
  margin-bottom: 20px;
}

#atoll-map text.text-anchor-left {
  text-anchor: start;
}

#atoll-map text.text-anchor-right {
  text-anchor: end;
}

#atoll-map text.text-anchor-middle {
  text-anchor: middle;
}

#atoll-map .island {
  cursor: pointer;
}

#atoll-map .island .shape {
  fill: #e8e8ee;
  fill-opacity: 0;

  stroke: transparent;
}

#atoll-map .island .shape:hover {
  fill-opacity: 0.2;
}

#atoll-map .island .shape + text {
  visibility: hidden;
  pointer-events:none;
}

#atoll-map .island .shape:hover + text {
  visibility: visible;
}

#atoll-map .island.disabled {
  cursor: default;
}

#atoll-map .island.disabled .shape {
  fill-opacity: 0;
  stroke-opacity: 0;
}

#atoll-map .island.disabled .shape:hover + text {
  visibility: hidden;
}

#atoll-map .island .here {
  text-anchor: middle;
  fill: red;
  font-size: 20px;
}

.ending-message > p {
  font-style: italic;
}

.ending-message > ul > li {
  font-style: italic;
}

.ending-message > p:first-child {
  margin-bottom: 15px;
}

.true-end-link a.list-group-item {
  color: #2d2d2d;
  background: linear-gradient(to top, #48d1cc, #6495ed);
}

.true-end-link a.list-group-item:hover {
  background: linear-gradient(to top, #48d1cc, #4169e1);
}

.ending-credits {
  margin-top: 25px;
  margin-bottom: -5px;
}

.core hr {
  border-color: #d0d0d0;
}

.core .logs > div p {
  opacity: 0.2;
}

.core .logs > div:nth-last-child(7) p {
  opacity: 0.25;
}

.core .logs > div:nth-last-child(6) p {
  opacity: 0.3;
}

.core .logs > div:nth-last-child(5) p {
  opacity: 0.35;
}

.core .logs > div:nth-last-child(5) p {
  opacity: 0.4;
}

.core .logs > div:nth-last-child(4) p {
  opacity: 0.45;
}

.core .logs > div:nth-last-child(3) p {
  opacity: 0.5;
}

.core .logs > div:nth-last-child(2) p {
  opacity: 0.55;
}

.core .logs > div:last-child p {
  opacity: 0.6;
}

img.text-img {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  img.text-img.tall {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.text-img.tall.left {
    margin-right: 20px;
    float:left;
  }
}

.hint-warning {
  cursor: pointer;
}

.hint {
  font-style: italic;
}

.inventory dl {
  margin-bottom: 0;
}

.core {
  padding-top: 75px;
}

.core .col-md-8 {
  background-color: white;
}

@media (min-width: 1200px) {
  .core {
    background: linear-gradient(to right,#3BB9FF,white 15%,white 85%,#3BB9FF);
  }
}

.list-group-item.choice:hover {
  background-color: rgba(178, 223, 238, 0.5);
}

.transition-sentence {
  font-weight: bold;
}
