.main {
  margin-top: 75px;
}

.navbar-fixed-top img {
  margin-top: -10px;
}

.choice, .funnel {
  cursor: pointer;
}

.conversation {
  margin-bottom: 10px;
}

.conversation > p {
  margin-bottom: 5px;
}

.title-screen, .main {
  padding-bottom: 10px;
}
